<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

  <!--<div class="header center">register</div>-->

  <!--<form [formGroup]="loginForm" (ngSubmit)="register()">
    <label for="username">username</label>
    <input type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
    <label for="password">password</label>
    <input type="password" id="password" placeholder="Password" formControlName="password" required>

    <div class="actions">
      <button style="color: blue" type="submit" [disabled]="!loginForm.valid">register</button>
    </div>

  </form>-->
  <!--<button (click)="toLogin()">or login</button>-->

  <form [formGroup]="loginForm" (ngSubmit)="register()">
    <h2>Register</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password" required>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Register</button> &nbsp;
    <button type="button" (click)="toLogin()" class="btn btn-secondary">Log in</button>
  </form>
</body>
</html>
