<div class="header center">register</div>

<form [formGroup]="loginForm" (ngSubmit)="register()">
  <label for="username">username</label>
  <input type="text" id="username" placeholder="Username" autocomplete="off" formControlName="username" required>
  <label for="password">password</label>
  <input type="password" id="password" placeholder="Password" formControlName="password" required>

  <div class="actions">
    <button style="color: blue" type="submit" [disabled]="!loginForm.valid">register</button>
  </div>

</form>

<button (click)="toLogin()">or login</button>
