<div>
  <div class="float-right container-fluid col-md-3 border border-dark h-100 p-0">
    <app-navigator (coordinatesEmitter)="getCoordinatesFromNavigator($event)"></app-navigator>
    <app-user-information (userCoordinatesEmitter)="getUserCoordinates($event)"></app-user-information>
    <app-city></app-city>
    <app-game-details [targetCoordinates]="clickTargetCoordinates" [userCoordinate]="userCoordinates"></app-game-details>
  </div>
  <app-grid [coordinates]="coordinates" (clickEmitter)="getTargetFromGridClick($event)"></app-grid>

</div>


