<div class="border border-dark">
  <form [formGroup]="coordinateForm" (ngSubmit)="recruit()" class="border border-dark p-2">
    <label for="amount">Recruit troops amount:</label>
    <input type="number" id="amount" placeholder="" formControlName="amount" min="0">
    <div class="actions d-inline-block">
      <button class="ml-2 btn btn-sm btn-primary" type="submit">Recruit</button>
    </div>
  </form>
  Castle level: {{cityData.castleLevel}} <button (click)="updateBuilding('Castle')">+</button><br />
  Barack level: {{cityData.barracksLevel}} <button (click)="updateBuilding('Barack')">+</button><br />
  Forgery level: {{cityData.forgeryLevel}} <button (click)="updateBuilding('Forgery')">+</button><br />
  Mine level: {{cityData.mineLevel}} <button (click)="updateBuilding('Mine')">+</button><br />
  Oven level: {{cityData.ovenLevel}} <button (click)="updateBuilding('Oven')">+</button><br />
  Woodworks level: {{cityData.woodworksLevel}} <button (click)="updateBuilding('Woodworks')">+</button><br />
</div>

